/*  applies to index, book and bookList routes */
body {
  margin: 0;
  width: 100%;
}

header {
  text-align: center;
  padding: 1em 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #222;
  height: 220px;
}

main {
  margin-top: 250px;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: #372B16;
}

/* index route only */
header label {
  color: #BB9354;
  font-family: 'Titillium Web', sans-serif;
}

header button {
  background-color: inherit;
  border: none;
  color: #00FF00;
}

.input-box {
  padding: 5px;
}

.masthead {
  height: 220px;
  text-align: center;
  font-size: 2em;
  box-sizing: border-box;
  padding: 0.5em 0;
  background-color: #424242;
  color: #E4E4CE;
  font-family: 'KoHo', sans-serif;
  letter-spacing: 5px;
}

label {
  font-family: 'Charmonman', cursive;
  color: #634B27;
  font-weight: 600;
  width: 100px;
}

input {
  min-width: 250px;
  max-width: 300px;
  width: 90%;
  padding: 5px;
  font-size: 18px;
  margin: 5px 0;
}

button {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 1em;
  margin-bottom: 10px;
}

/* index and book routes */
.display {
  margin: auto;
  text-align: center;
}

/* book and bookList routes only */
header h1 {
  font-size: 2em;
  color: #BB9354;
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 5px;
}

header a {
  font-size: 1.5em;
  text-align: right;
  color: tan;
}

nav {
  padding: 1em;
  text-align: right;
}

a {
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

/* booklist route */
.book-box {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
}

.books {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  margin: 10px auto;
  padding: 10px;
}

/* book route */
.book-nav {
  display: flex;
  justify-content: space-evenly;
}

figure {
  min-height: 250px;
  max-width: 700px;
  margin: 15px auto;
  padding: 20px 10px;
}

img {
  max-width: 100%;
}

p {
  font-family: 'KoHo', sans-serif;
  color: #634B27;
  font-size: 1.3em;
}
/* welcome */
.welcome {
  padding: 1em 0;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Charmonman', cursive;
}