body {
  margin: 0;
}

header {
  text-align: center;
  padding: 1em 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #222;
}

header label {
  color: #BB9354;
  font-family: 'Titillium Web', sans-serif;
}

header button {
  background-color: inherit;
  border: none;
  color: #00FF00;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1em 5px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #B3B300;
  font-family: 'Titillium Web', sans-serif;
}

.nav-search {
  width: 240px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}

main {
  margin-top: 240px;
}

.masthead {
  height: 220px;
  text-align: center;
  font-size: 2em;
  box-sizing: border-box;
  padding: 0.5em 0;
  background-color: #424242;
  color: #E4E4CE;
  font-family: 'KoHo', sans-serif;
}

.display {
  margin: auto;
  text-align: center;
}

h2 {
  font-family: 'Quicksand', sans-serif;
}

figure {
  height: 250px;
  background-color: tan;
  margin: 15px;
}

.input-box {
  padding: 5px;
}

label {
  font-family: 'Charmonman', cursive;
  color: #634B27;
  font-weight: 600;
  width: 100px;
}

input {
  min-width: 250px;
  max-width: 300px;
  width: 90%;
  padding: 5px;
  font-size: 18px;
  margin: 5px 0;
}

button {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 1em;
  margin-bottom: 10px;
}