<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=KoHo|Titillium+Web" rel="stylesheet">
  <title><%=title%></title>
</head>
<body>
  <header>
    <h1><%=title%></h1>
    <nav>
      <form name="signOut" action="/auth/signOut/" method="get">
        <button>Sign Out</button>
      </form>
    </nav>
  </header>
  <main>
    <div class="book-box">
    <%books.forEach(book=> {%>
    <div class="books">
      <a href="/books/<%=book._id%>">
        <h2><%=book.title%></h2>
      </a>
    </div>          
    <%})%>
    </div>
  </main>
</body>
</html>